In [1]:
from Exercises import Ex1
import importlib
from bs4 import BeautifulSoup
importlib.reload(Ex1)

In [135]:
mdl = Ex1.getEntrezData('https://eutils.ncbi.nlm.nih.gov/entrez/eutils/')

params = {
    "db": 'pubmed',
    "term":'cancer',
    "datetype":"pdat",
    "mindate":"2019",
    "maxdate":"2019",
    "retmax":'100000',
    "retmode":'xml'

}

mdl.getFullRecords(params,parse_records=True)

200 https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=cancer&datetype=pdat&mindate=2019&maxdate=2019&retmax=100000&retmode=xml
200 https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi

## Exercise 2

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_json("/Users/venugopalbhatia/Documents/Computational Methods For Informatics/Assignments/HW_10Oct/Data/2021-10-17_searched_term_cancer.json",orient = "index")

In [5]:
mesh_terms_arr = np.array(df['mesh_terms'].values)
mesh_terms_arr = np.concatenate(mesh_terms_arr).ravel()
mesh_terms_arr

array(['A549 Cells',
       'Antineoplastic Agents, Phytogenicisolation & purificationpharmacology',
       'Humans', ...,
       'Leukemia, Myelogenous, Chronic, BCR-ABL Positivedrug therapy',
       'Patient Preference',
       'Protein-Tyrosine Kinasesantagonists & inhibitors'], dtype='<U113')

In [6]:
valcounts = dict(zip(*np.unique(mesh_terms_arr,return_counts = True)))
df1 = pd.DataFrame.from_dict(valcounts,orient = "index",columns = ['term_count'])
df1.reset_index(inplace = True)
df1.rename(columns = {"index":"mesh_terms"},inplace=True)
df1.nlargest(10,'term_count')

                  mesh_terms  term_count
7661                  Humans        5072
5993                  Female        2195
9846                    Male        1849
10492            Middle Aged        1403
454                     Aged        1174
430                    Adult        1031
744                  Animals         895
14875  Retrospective Studies         613
3252        Cell Line, Tumor         576
13636              Prognosis         535

In [13]:
df1 = pd.DataFrame({"mesh_terms":np.unique(mesh_terms_arr,return_counts = True)[0],"counts":np.unique(mesh_terms_arr,return_counts = True)[1]})

df_cancer_nl = df1.nlargest(10,'counts')

In [9]:
df2 = pd.read_json("/Users/venugopalbhatia/Documents/Computational Methods For Informatics/Assignments/HW_10Oct/Data/2021-10-17_searched_term_Alzheimer.json",orient = "index")

In [14]:
mesh_terms_arr_alzheimer = np.array(df2['mesh_terms'].values)
mesh_terms_arr_alzheimer = np.concatenate(mesh_terms_arr_alzheimer).ravel()
df3 = pd.DataFrame({"mesh_terms":np.unique(mesh_terms_arr_alzheimer,return_counts = True)[0],"counts":np.unique(mesh_terms_arr_alzheimer,return_counts = True)[1]})

df_alzheimer_nl = df3.nlargest(10,'counts')

In [18]:
df_alzheimer_nl

                            mesh_terms  counts
8385                            Humans    6411
9833                              Male    3493
6983                            Female    3069
328                               Aged    2645
1733                           Animals    2610
329                  Aged, 80 and over    1560
10494                      Middle Aged    1523
10337                             Mice    1106
6034            Disease Models, Animal     960
1521   Amyloid beta-Peptidesmetabolism     765

In [21]:
df_alzheimer_nl[df_alzheimer_nl['mesh_terms'] == "Humans"]['counts']

8385    6411
Name: counts, dtype: int64

In [70]:
df_summaryTable = pd.DataFrame(0,index = df_alzheimer_nl['mesh_terms'],columns = df_cancer_nl['mesh_terms'])
df_summaryTable

mesh_terms,Humans,Female,Male,Middle Aged,Aged,Adult,Animals,Retrospective Studies,"Cell Line, Tumor",Prognosis
mesh_terms,,,,,,,,,,
Humans,0,0,0,0,0,0,0,0,0,0
Male,0,0,0,0,0,0,0,0,0,0
Female,0,0,0,0,0,0,0,0,0,0
Aged,0,0,0,0,0,0,0,0,0,0
Animals,0,0,0,0,0,0,0,0,0,0
"Aged, 80 and over",0,0,0,0,0,0,0,0,0,0
Middle Aged,0,0,0,0,0,0,0,0,0,0
Mice,0,0,0,0,0,0,0,0,0,0
"Disease Models, Animal",0,0,0,0,0,0,0,0,0,0
Amyloid beta-Peptidesmetabolism,0,0,0,0,0,0,0,0,0,0

In [57]:
_index = 'Humans'
df_cancer_nl[df_cancer_nl['mesh_terms'] == _index]['counts'].values[0]

5072

In [80]:
df_summaryTable = pd.DataFrame(0,index = df_alzheimer_nl['mesh_terms'],columns = df_cancer_nl['mesh_terms'])
index = df_summaryTable.index
#print(index)
#index[df_summaryTable.iloc[0]][0]
def getTermSum(x):
    _index = x.name
    try:
        df_summaryTable[_index][_index] = df_cancer_nl[df_cancer_nl['mesh_terms'] == _index]['counts'].values[0] + df_alzheimer_nl[df_alzheimer_nl['mesh_terms'] == _index]['counts'].values[0]
    except:
        pass
df_summaryTable.apply(getTermSum,axis = 1)

mesh_terms
Humans                             None
Male                               None
Female                             None
Aged                               None
Animals                            None
Aged, 80 and over                  None
Middle Aged                        None
Mice                               None
Disease Models, Animal             None
Amyloid beta-Peptidesmetabolism    None
dtype: object

In [81]:
df_summaryTable

mesh_terms,Humans,Female,Male,Middle Aged,Aged,Adult,Animals,Retrospective Studies,"Cell Line, Tumor",Prognosis
mesh_terms,,,,,,,,,,
Humans,11483,0,0,0,0,0,0,0,0,0
Male,0,0,5342,0,0,0,0,0,0,0
Female,0,5264,0,0,0,0,0,0,0,0
Aged,0,0,0,0,3819,0,0,0,0,0
Animals,0,0,0,0,0,0,3505,0,0,0
"Aged, 80 and over",0,0,0,0,0,0,0,0,0,0
Middle Aged,0,0,0,2926,0,0,0,0,0,0
Mice,0,0,0,0,0,0,0,0,0,0
"Disease Models, Animal",0,0,0,0,0,0,0,0,0,0
Amyloid beta-Peptidesmetabolism,0,0,0,0,0,0,0,0,0,0

In [82]:
df_cancer_nl

                  mesh_terms  counts
7661                  Humans    5072
5993                  Female    2195
9846                    Male    1849
10492            Middle Aged    1403
454                     Aged    1174
430                    Adult    1031
744                  Animals     895
14875  Retrospective Studies     613
3252        Cell Line, Tumor     576
13636              Prognosis     535

In [83]:
df_alzheimer_nl

                            mesh_terms  counts
8385                            Humans    6411
9833                              Male    3493
6983                            Female    3069
328                               Aged    2645
1733                           Animals    2610
329                  Aged, 80 and over    1560
10494                      Middle Aged    1523
10337                             Mice    1106
6034            Disease Models, Animal     960
1521   Amyloid beta-Peptidesmetabolism     765