In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as pyplot
import sqlite3

## Exercise 1

In [3]:

def temp_tester(temperature):
    ## inner function has access to variables of the encapsulating method
    def check_temp(temperature_):
        if(abs(temperature_-temperature)<=1):
            return True
        return False
    return check_temp
chicken_temp = temp_tester(42)
chicken_temp(43)

True

In [4]:
human_tester = temp_tester(37)
chicken_tester = temp_tester(41.1)

print(chicken_tester(42)) # True -- i.e. not a fever for a chicken
print(human_tester(42))   # False -- this would be a severe fever for a human
print(chicken_tester(43)) # False
print(human_tester(35))   # False -- too low
print(human_tester(98.6)) # False -- normal in degrees F but our reference temp was in degrees C

True
False
False
False
False

## Exercise 2

In [10]:
with sqlite3.connect("files/hw1-population.db") as db:
    data = pd.read_sql_query("SELECT * FROM population",db)

data

                     name        age     weight eyecolor
0             Edna Phelps  88.895690  67.122450    brown
1              Cara Yasso   9.274597  29.251244    brown
2               Gail Rave  18.345613  55.347903    brown
3           Richard Adams  16.367545  70.352184    brown
4           Krista Slater  49.971604  70.563859    brown
...                   ...        ...        ...      ...
152356        John Fowler  23.930833  71.532569     blue
152357     Diana Shuffler  21.884819  67.936753    brown
152358    Kevin Cuningham  87.705907  60.074646    brown
152359    James Libengood  21.727666  81.774985    brown
152360  Cathleen Ballance  10.062236  34.327767    brown

[152361 rows x 4 columns]

In [25]:
## Have a look at raw data before preprocessing
print(data.columns.values)
print(data.nunique()) ## returns number of unique values by column
print(len(data.drop_duplicates())) ## will return to us number of unique rows, though may need to process the data and strip any whitespace,etc.
data.describe() ## returns key statistics about the data

['name' 'age' 'weight' 'eyecolor']
name        137592
age         152361
weight      129749
eyecolor         3
dtype: int64
152361

                 age         weight
count  152361.000000  152361.000000
mean       39.510528      60.884134
std        24.152760      18.411824
min         0.000748       3.382084
25%        19.296458      58.300135
50%        38.468955      68.000000
75%        57.623245      71.529860
max        99.991547     100.435793

### Process and clean the data

In [26]:
data_cleaned = data.copy()
data['name'] = data['name'].str.strip()
data['eyecolor'] = data['eyecolor'].str.strip()
data['age'] = data['age'].astype(int) ## may have records taken at for the same person at different times or maybe difference in decimal
data['weight'] = data['weight'].astype(int)

AttributeError: 'DataFrame' object has no attribute 'str'